.add-recipe-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

  .add-recipe-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }

.form-group {
  margin-bottom: 15px;
}

  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
  }

.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
}

.btn {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

  .btn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }

.input-group {
  display: flex;
  align-items: center;
}

.input-group-append {
  margin-left: 10px;
}

.btn-success {
  background-color: green;
  border-color: green;
  color: white;
}

  .btn-success:hover {
    background-color: darkgreen;
    border-color: darkgreen;
  }

