.recipes-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding-top: 20px;
}

.recipe-card {
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

/*.recipe-card-container {
  flex: 1 1 calc(33.333% - 40px);*/ /* 3 cards per row with 20px gap */
  /*display: flex;
  justify-content: center;
}*/

  .recipe-card img {
    width: 100%;
    height: auto;
  }

.recipe-info {
  padding: 10px;
}

.category {
  font-size: 0.9em;
  color: #777;
}

h3 {
  margin: 5px 0;
  font-size: 1.2em;
}

.description {
  font-size: 1em;
  color: #555;
}

.ingredients, .instructions {
  margin: 10px 0;
  padding: 0;
  list-style-type: none;
}

.ratings {
  display: flex;
  align-items: center;
}

.stars {
  color: #f39c12;
  margin-right: 5px;
}

.rating-count {
  font-size: 0.9em;
  color: #777;
}

.favorite {
  background: none;
  border: none;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.5em;
  cursor: pointer;
}

